<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite /content/cam-interview/us/en/ to root" stopProcessing="true">
          <match url="^content/cam-interview/us/en/(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
        <rule name="Remove .html Extension" stopProcessing="true">
          <match url="(.*)\.html$" ignoreCase="true" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite to .html for root-level extension-less URLs" stopProcessing="true">
          <match url="^([^.]+)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/content/cam-interview/us/en/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/content/cam-interview/us/en/{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>